.light-theme {
    --background-color: #e5e5e5;
    --div-color: #ffffff;
    --primary-color: #f5f5f5;
    --secondary-color: #ccc;
    --text-color: #000;
}

/* Tema scuro */
.dark-theme {
    --background-color: #191818;
    --div-color: #4f4f4f;
    --primary-color: #6a6a6a;
    --secondary-color: #7e7c7c;
    --text-color: #fff;
}

body {
    transition: background-color 0.5s ease;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
justify-content: center;
display: flex;
align-items: center;
}

/* In questa sezione impostiamo il colore di sfondo per i div */
#login-container, #register-container {
    background-color: var(--div-color);
}

header {
    position: absolute;
    top: 10px;
    right: 10px;
}

#login-form, #register-form {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom:20px;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid var(--secondary-color);
}

#login-form input, #register-form input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid  ￼var(--secondary-color);
    border-radius: 10px;
    font-size: 16px;
    flex-basis: 45%;
    margin-right: 10px;
    border: 2px solid var(--secondary-color);
}

#login-form input[type="submit"], #register-form input[type="submit"] {
background-color: var(--secondary-color);
color: var(--text-color);
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 10px;
cursor: pointer;
margin-right: 10px;
}

#login-form input[type="submit"]:hover, #register-form input[type="submit"]:hover {
background-color: var(--primary-color);
}

#login-container, #register-container {
opacity: 0.5;
width: 40%;
height: 50%;
min-width:400px;
min-height:300px;
max-width:550px;
margin: 0 auto;
background-color: var(--div-color);
padding: 20px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
text-align: center;
display: flex;
flex-direction: column;
}

#login-container:hover, #register-container:hover {
opacity: 1;
}

#theme-toggle-button {
background-color: var(--secondary-color);
color: var(--text-color);
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 10px;
cursor: pointer;
}

#theme-toggle-button:hover {
background-color: var(--primary-color);
}
